.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color:#0e387a ;
    
    img{
        margin-top: 100px;
        margin-bottom: 20px;
        display: flex;
        width: 20vw;
    }
    span{
        display: flex;
        font-size: 2vw;
        font-family: 'Times New Roman', Times, serif;
        width: 70vw;
        max-width: 1000px;
        text-align: center;
    }
}